<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <a href="/"><strong>AJIO</strong></a>
      <nav>
   <a href="/users/login" class="login">Login</a>
   <a href="/users/register" class="login">Sign up</a>
      </nav>
    </header>
    
    <figure>
      <img src="/images/15042022-D-Unisex-discoveronlinestores-trends.webp" alt="">
      <img src="/images/15042022-D-Unisex-footwear-sneakerhood.jpg" alt="">
      <img src="/images/15042022-D-Unisex-hottestbrandbrigade-leecooper.webp" alt="">
    </figure>
    <figure>
      <img src="/images/15042022-D-Unisex-hottestbrandbrigade-biba.webp" alt="">
      <img src="/images/15042022-D-Unisex-hottestbrandbrigade-campussutra.webp" alt="">
      <img src="/images/15042022-D-Unisex-hottestbrandbrigade-teamspirit.webp" alt="">
    </figure>
  </body>
</html>
