<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Register Form</title>
</head>
<body class="gray">
    <header>
        <a href="/"><strong>AJIO</strong></a>
        <nav>
     <a href="/users/login" class="login">Login</a>
     <a href="/users/logout" class="login">Logout</a>
        </nav>
      </header>
    <h3>Welcome to AJIO</h3>
    <form action="/users/register" method="POST">
        <input type="text" name="Name" id="" placeholder="enter Name"> <br><br>
        <input type="text" name="email" id="" placeholder="enter email"><br><br>
        <input type="password" name="password" id="" placeholder="enter password"><br><br>
        <input type="text" name="city" id="" placeholder="enter city"> <br><br>
         <button type="submit" class="btn">Registration</button>
    </form>
</body>
</html>